{% extends 'base.html' %}

{% from 'base.html' import form_layout %}

{% block in_style %}
	table{
		margin-top: 15%;
	}
{% endblock %}

{% block main %}
	<div class="col-md-6"> 
	
	{% block forms %}
		
		<div class="title text-center space_between">
			<h3> {{title}} </h3>
		</div> 
		<div>
			
		<form action="" method='post'>			
			{{ form_layout(form) }}			
			<br>
			<hr>  
			<div class="row space_top">
					
				<div class="col-md-6">
					<a href="{{url_for('payment.index')}}" class="btn btn-default btn_cl btn-block"> Back </a>					
				</div>
				<div class="col-md-6">
					<button type="submit" class="btn btn-success btn-block"> Save </button>					
				</div>
			</div>			 
		</form>
		</div>
		
	{% endblock %}
	
	</div>

	<div class="col-md-6">
		
 		<div>

			<table class="table table-condensed table-striped">
				<thead>
					<th> Item </th>
					<th> Amount </th>
				</thead>
				<tbody>
				{% for item in item_details %} 
					<tr>
						<td> {{item.item_desc}} </td>
						<td> {{kwargs['cur_fmt'](item.amount)}} </td>
					</tr>
				{% else %}
					<tr>
						<td colspan="2"> <i> no records found... </i> </td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			
			<h3 style="text-align: center;margin-top: 15%; font-weight: bold;">
				Total : {{ kwargs['cur_fmt'](total) }} {{ kwargs['currency'] }} 
			</h3> 
 
		</div>
		 
	</div>

{% endblock %}

{% block scripts %}
	
	var total = {{total}};
	var amount_paid = document.getElementById("amount_paid");
	var balance = document.getElementById("balance")
	amount_paid.addEventListener("keyup", calculate);

	function calculate(){
		var displayAmount = 0;
		displayAmount = total - amount_paid.value;
		if (isNaN(displayAmount)) {
  			balance.value = 0.00;
		} else {
  			balance.value = displayAmount;
		}	
	}

{% endblock %}

