{% extends 'base.html' %}

{% from 'base.html' import form_layout %}

{% block in_style %}
	table{
		margin-top: 15%;
	}
{% endblock %}

{% block main %}
	<div class="col-md-6"> 
	
	{% block forms %}
		
		<div class="title text-center space_between">
			<h3> {{title}} </h3>
		</div> 
		<div>
			
		<form action="" method='post'>			
			{{ form_layout(form) }}			
			<br>
			<hr>  
			<div class="row space_top">
					
				<div class="col-md-6">
					<a href="{{url_for('payment.index')}}" class="btn btn-default btn_cl btn-block"> Back </a>					
				</div>
				<div class="col-md-6">
					<button type="submit" class="btn btn-success btn-block"> Save </button>					
				</div>
			</div>			 
		</form>
		</div>
		
	{% endblock %}
	
	</div>

	<div class="col-md-6">
		

		</div>
		 
	</div>

{% endblock %}

{% block scripts %}
	
	var total = {{total}};
	var amount_paid = document.getElementById("amount_paid");

	amount_paid.addEventListener("keyup", calculate);

	function calculate(){
		var displayAmount = 0;
		
		displayAmount = total - amount_paid.value;
		document.getElementById("balance").value = displayAmount;
	}

{% endblock %}

