<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">

	<style>
		.footer{ 
		       position: fixed;     
		       text-align: center;    
		       bottom: 0px; 
		       width: 100%;
		       color: green;
	   		}
	</style>
</head>
<body>




	{% block main %}{% endblock %}
	<!-- <footer class="footer">
		<i>… we make software work</i>
	</footer> -->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
</body>
</html>

 


