{% extends 'base.html' %}

{% block main %}


	<style>

		.move_right{
		 	text-align: right;
		}

	</style>
	<div class="container">

		<div class="row">

			<div class="col-md-12">
				<br><br>
				<p>
					<b>Invoice: {{invoice_details.inv_id}}	
						<a 	href="{{url_for('admin.receipt', 										invoice_id=invoice_details.inv_id)}}" 
							class="fas fa-receipt" 
							style="float: right; background-color: #eee"> 
							Convert to Receipt 
						</a>
					</b>
				</p>
				<h3>Invoice Details</h3>
				<table class="table table-striped table-condensed table-hover">
					<thead>
						<tr>
							<th>Date Created</th>
							<th>Name</th>
							<th>Address</th>
							<th>Email</th>
							<th>Phone</th>
							<th class="move_right">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						{% if invoice_details %}
							<tr>
								<td>{{invoice_details.date_value.strftime("%Y-%m-%d")}}</td>
								<td> <b> {{invoice_details.name | title}} </b></td>
								<td>{{invoice_details.address}}</td>
								<td>{{invoice_details.email}}</td>
								<td>{{invoice_details.phone}}</td>
								<td class="move_right"><a 
									href="{{url_for('admin.edit_invoice', 						invoice_id=invoice_details.inv_id)}}" 
									title="Edit Invoice" 
									class="fas fa-edit" 
									style="color: green"></a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5"> <i> no records found... </i> </td>
							</tr>

						{% endif %}
					</tbody>
				</table>

				<br><br>

				<p style="margin-bottom: 3px;">
					<span style="font-size: 1.75rem;">Item Details</span> 
					<a href="{{url_for('admin.add_item', 											invoice_id=invoice_details.inv_id)}}" 
					style="float: right; margin-top: 15px; color: green"> Add Item </a>
				</p>		
				<table class="table table-striped table-condensed table-hover">
					<thead>
						<tr>
							<th class="w-55">Description</th>
							<th style="text-align: center;" class="w-8">Quantity</th>
							<th class="move_right w-15">Rate</th>
							<th class="move_right w-20">Amount</th>
							<th class="w-2">&nbsp;</th>	
						</tr>
					</thead>
					<tbody>
						{% for item in items%}
							<tr>
								<td class="w-55">{{item.item_desc}}</td>
								<td style="text-align: center;" class="w-8">{{item.qty}}</td>
								<td class="move_right w-15">{{item.rate}}</td>
								<td class="move_right w-20">{{ kwargs['cur_fmt'](item.amount) }}</td>
								<td class="move_right w-2">
									<a 	href="{{url_for('admin.edit_item', 							item_id=item.id, 									invoice_id=invoice_details.inv_id)}}" 
										title="Edit Item" 
										class="fas fa-edit" 
										style="color: green"></a>

									<a 	href="{{url_for('admin.delete_item', 						item_id=item.id, 									invoice_id=invoice_details.inv_id)}}" 
										title="Delete Item" 
										class="fas fa-trash-alt" 
										style="color: green" id="delete"></a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5"> <i> no records found... </i> </td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				<br><br>
				
				<div class="row">
					<div class="col-md-6">
						<h3>Discount Applied</h3>
						<table class="table table-striped table-condensed table-hover">
							<thead>
								<tr> 
									<th>Discount</th>
									<th>Value </th>						
								</tr>
							</thead>
							<tbody>
								{% set query_obj = invoice_details %}
								{% set disc_symbol = {'percent': '%', 'fixed': 'F'} %}
								{% if query_obj.disc_value %}
									<tr>
										<td>
											<p style="margin-bottom: 0px;">  
												{{ query_obj.disc_value }} 
												<label 
													class="badge badge-info"> {{ disc_symbol[query_obj.disc_type] }}  
												</label>
											</p>
										</td>
										<td> 
											{{ kwargs['cur_fmt'](kwargs['discount']) }} 
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="2"> <i> no discount applied </i> </td>
									</tr>

								{% endif %}
									
							</tbody>
						</table>
				
					</div>
					<div class="col-md-6">
						 
						<h3 style="text-align: center;margin-top: 15%;font-weight: bold;">
							Total : {{ kwargs['cur_fmt'](kwargs['total']) }} {{ invoice_details.currency }} 
						</h3>
					</div>

				</div>

				
				<form action="" method="post">
					<div>
						<hr style="margin-top: 65px">
						<button type="submit" 
								class="btn btn-success fas fa-file-invoice" 
								style="width: 100%; 
								margin-bottom: 7px; 
								margin-top: 45px; 
								height: 40px;"> Email Invoice </button>

						{% set link = url_for('admin.index') %}
						<a href="{{link}}" class="btn" style="float: right; width: 100%; height: 40px; background-color: #eee"> Back </a>
					</div>
				</form>
			</div>

		</div>
		
	</div>	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
	<script type="text/javascript">

		var delte = document.getElementById("delete");

		delte.addEventListener("click", ask_delete);

		function ask_delete(){
			alert("Do you want to Delete ?");
			}

	</script>

{% endblock %}

