{% extends 'base.html' %}

{% block in_style %}
	
	#discount_p {
	    margin-bottom: 3px;
	    display: flex;
	    flex-flow: row;
	    justify-content: space-between;
	    align-items: center;
	}
	.move_right{
		 	text-align: right;
		}

{% endblock %}

{% block main %} 
	<div class="col-md-12">
		<br><br>
		<p>
			<b>Invoice: {{invoice_details.inv_id}}	
				<a 	href="{{url_for('payment.add', 										invoice_name=invoice_details.name,
						invoice_id=invoice_details.inv_id)}}" 
					class="fas fa-receipt" 
					style="float: right; background-color: #eee"> 
					Proceed to Payment 
				</a>
			</b>
		</p>
		<h3>Client Details</h3>
		<table class="table table-striped table-condensed table-hover">
			<thead>
				<tr>
					<th>Date Created</th>
					<th>Name</th>
					<th>Address</th>
					<th>Email</th>
					<th>Phone</th>
					<th class="move_right">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% if invoice_details or client_details %}
					<tr>
						<td>{{invoice_details.date_value.strftime("%Y-%m-%d")}}</td>
						<td> <b> {{client_details.name | title}} </b></td>
						<td>{{client_details.address}}</td>
						<td>{{client_details.email}}</td>
						<td>{{client_details.phone}}</td>
						<td class="move_right"><a 
							href="{{url_for('client.edit_client', 						client_id=invoice_details.client_id)}}" 
							title="Edit Invoice" 
							class="fas fa-edit" 
							style="color: green"></a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5"> <i> no records found... </i> </td>
					</tr>

				{% endif %}
			</tbody>
		</table>

		<br><br>

		<p style="margin-bottom: 3px;">
			<span style="font-size: 1.75rem;">Item Details</span> 
			<a href="{{url_for('item.add_item', 											invoice_id=invoice_details.inv_id)}}" 
			style="float: right; margin-top: 15px; color: green"> Add Item </a>
		</p>		
		<table class="table table-striped table-condensed table-hover">
			<thead>
				<tr>
					<th class="w-55">Description</th>
					<th style="text-align: center;" class="w-8">Quantity</th>
					<th class="move_right w-15">Rate</th>
					<th class="move_right w-20">Amount</th>
					<th class="w-2">&nbsp;</th>	
				</tr>
			</thead>
			<tbody>
				{% for item in items%}
					<tr>
						<td class="w-55">{{item.item_desc}}</td>
						<td style="text-align: center;" class="w-8">{{item.qty}}</td>
						<td class="move_right w-15">{{item.rate}}</td>
						<td class="move_right w-20">{{ kwargs['cur_fmt'](item.amount) }}</td>
						<td class="move_right w-2">
							<a 	href="{{url_for('item.edit_item', 							item_id=item.id, 									invoice_id=invoice_details.inv_id)}}" 
								title="Edit Item" 								
								style="color: green">
									<i class="fa fa-edit"></i>
								</a>

							<a 	href="{{url_for('item.delete_item', 						item_id=item.id, invoice_id=invoice_details.inv_id)}}" 
								title="Delete Item"  
								style="color: green" class="delete_item">
									<i class="fas fa-trash-alt"></i> 
								</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5"> <i> no records found... </i> </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<br><br>
		
		<div class="row">
			<div class="col-md-6">
				<p id='discount_p' style="margin-bottom: 3px;">
					<span style="font-size: 1.75rem;">Discount Applied</span> 
					<span> 
						<a class='theme_link' href="{{url_for('item.add_discount', invoice_id=invoice_details.inv_id)}}"> 
							<i class="fa fa-plus-square fa-lg"></i> 
						</a>
						<a class="theme_link" id="delete_discount" href="{{url_for('item.delete_discount',	invoice_id=invoice_details.inv_id)}}" 
						> <i class="fa fa-trash fa-lg"></i> </a>
					</span>
				</p>
				<table class="table table-striped table-condensed table-hover">
					<thead>
						<tr> 
							<th>Discount</th>
							<th>Value </th>						
						</tr>
					</thead>
					<tbody>
						{% set query_obj = invoice_details %}
						{% set disc_symbol = {'percent': '%', 'fixed': 'F'} %}
						{% if query_obj.disc_value %}
							<tr>
								<td>
									<p style="margin-bottom: 0px;">  
										{{ query_obj.disc_value }} 
										<label 
											class="badge badge-info"> {{ disc_symbol[query_obj.disc_type] }}  
										</label>
									</p>
								</td>
								<td> 
									{{ kwargs['cur_fmt'](kwargs['discount']) }} 
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="2"> <i> no discount applied </i> </td>
							</tr>

						{% endif %}
							
					</tbody>
				</table>
		
			</div>
			<div class="col-md-6">
				 
				<h3 style="text-align: center;margin-top: 15%;font-weight: bold;">
					Total : {{ kwargs['cur_fmt'](kwargs['total']) }} {{ kwargs['currency'] }} 
				</h3>
			</div>

		</div>

		
		<form action="" method="post">
			<div>
				<hr style="margin-top: 65px">
				<button type="submit" 
						class="btn btn-success fas fa-file-invoice" 
						style="width: 100%; 
						margin-bottom: 7px; 
						margin-top: 45px; 
						height: 40px;"> Email Invoice </button>

				{% set link = url_for('invoice.index') %}
				<a href="{{link}}" class="btn" style="float: right; width: 100%; height: 40px; background-color: #eee"> Back </a>
			</div>
		</form>
	</div> 

{% endblock %}

{% block scripts %}
	var deltItm = document.getElementsByClassName("delete_item");
	var deltDisc = document.getElementById("delete_discount");
	
	
	// deltItm.addEventListener("click", ask_delete.bind(this));
	for (var i=0; i < deltItm.length; i++) {
		deltItm[i].addEventListener('click', ask_delete.bind(this));
	}
	deltDisc.addEventListener("click", ask_delete.bind(this));

	function ask_delete(e){
		e.preventDefault();

		if (confirm("Do you want to Delete ?")) {
			window.location = e.currentTarget.href;
			return true;
		} 
		return false;	
	}
{% endblock %}

