{% extends 'base.html' %}


{% block in_style %}
	input {
		margin-bottom: 2%;
	}

	button {
		float: left;
		margin-top: 1%;
		width: 100px;
		height: 40px;
	}

	#form_title{
		text-align: center;
	}
{% endblock %}

{% block main %}

	<div class="col-md-6 offset-md-3">
		<h3 class="mb-5 header_text"><b> APPLY DISCOUNT </b></h3>
		<form action="" method="post">
			 
			{% for field in form %}
				<div>
					
					<b>{{ field.label }}</b>
					{{ field }}	
				
				<span>
					{% if field.errors %}
						{% for error in field.errors %}
							{{error}}
						{% endfor %}
					{% endif%}
				</span>
				</div>
			{% endfor %}

			<div>
				<hr style="margin-top: 65px">
				<button type="submit" class="btn btn-success" style="width: 100%; margin-bottom: 7px; margin-top: 5px"> Apply Discount </button>

				{% set link = url_for('invoice.index') %}
				<a href="{{link}}" class="btn" style="float: right; width: 100%; height: 40px; background-color: #eee"> Back </a>	
			</div>
			
		</form>

	</div>
{% endblock %}

{% block scripts %}
		
	var disc = document.getElementById("discount");
	var amt = document.getElementById("sub_total");

	disc.addEventListener("keyup", calculate);
	amt.addEventListener("keyup", calculate);


	function calculate(){
		var selectBox = document.getElementById("discount_type");
		var userInput = selectBox.options[selectBox.selectedIndex].value;
		var displayAns = 0;
		var displayDisc = 0;

			if (userInput == 'fixed') {
				displayAns = Number(amt.value) - Number(disc.value);
				displayDisc = Number(disc.value);
				document.getElementById("disc_amt").value = displayDisc;
				document.getElementById("new_total").value = displayAns;
			} else if (userInput == 'percent'){
				displayAns = Number(amt.value) - Number(disc.value)/100.0 *  Number(amt.value);
				displayDisc = Number(disc.value)/100.0 *  Number(amt.value);
				document.getElementById("disc_amt").value = displayDisc;
				document.getElementById("new_total").value = displayAns;
			}
		}
	
{% endblock %}

