{% extends "email_body.html" %}

{% block body %}

<p>Hi {{name}}, <br />
	<br />
	A new {{type}} has been generated for you by Ecardex Ventures. Here's a quick summary:<br />
	<br />

	{% for x in items %}

	{{ x.item_desc | title }}  :  Amount {{ cur_fmt(x.amount)}} <br/>

	{% endfor %}

	<hr/> 
	<br /> 
	
	
	Payment decription / amount paid 
	
	Amount to Balance 
	



	<br />

	Total Amount:   {{ cur_fmt(total) }} {{ currency }}  <br />


	<br />


	A PDF copy of it has been added as an attachment <br/>
	<br />


	Best regards,<br />
	Ecardex Ventures

</p>


{% endblock %}
