{% extends 'base.html' %}

{% block main %}

	<style>

		input {
			margin-bottom: 2%;
		}

		button {
			float: left;
			margin-top: 1%;
			width: 100px;
			height: 40px;
		}

		#form_title{
			text-align: center;
		}

	</style>
	<div class="container" style="margin-top: 5%">

		<div class="row">

			<div class="col-md-10 offset-md-1">

				<form action="" method="post">
					<div>

						<div class="form-row">
							<div class="form-group col-md-6">
								<b>{{form.name.label}}</b>
								{{form.name}}
								{% if form.name.errors %}
									{% for error in form.name.errors %}
										<p style="margin-bottom: 3px">{{error}}</p>
									{% endfor %}
								{% endif%}
							</div>
							<div class="form-group col-md-6">
								<b>{{form.email.label}}</b>
								{{form.email}}
								{% if form.email.errors %}
									{% for error in form.email.errors %}
										<p style="margin-bottom: 3px">{{error}}</p>
									{% endfor %}
								{% endif%}
							</div>
						</div>
						
						<div class="form-row">
							<div class="form-group col-md-6">
								<b>{{form.phone.label}}</b>
								{{form.phone}}
								{% if form.phone.errors %}
									{% for error in form.phone.errors %}
										<p style="margin-bottom: 3px">{{error}}</p>
									{% endfor %}
								{% endif%}	
							</div>

							<div class="form-group col-md-4">
								<b>{{form.post_addr.label}}</b>
								{{form.post_addr}}
								{% if form.post_addr.errors %}
									{% for error in form.post_addr.errors %}
										<p style="margin-bottom: 3px">{{error}}</p>
									{% endfor %}
								{% endif%}
							</div>
					
							<div class="form-group col-md-2">
								<b>{{form.currency.label}}</b>
								{{form.currency}}
								{% if form.currency.errors %}
									{% for error in form.currency.errors %}
										<p style="margin-bottom: 3px">{{error}}</p>
									{% endfor %}
								{% endif%}	
							</div>
						</div>


						<div class="form-row">
							<div class="form-group col-md-12">
								<b>{{form.address.label}}</b>
								{{form.address}}
								{% if form.address.errors %}
									{% for error in form.address.errors %}
										<p style="margin-bottom: 3px">{{error}}</p>
									{% endfor %}
								{% endif%}
							</div>	
						</div>

					</div>
					<hr style="margin-top: 65px">
					<div class="form-row" style="margin-top: 30px">
						<div class="col-md-3">
							<button type="submit" class="btn btn-success" style="width: 100%;">Submit</button>
						</div>
						<div class="col-md-3">	
							{% set link = url_for('admin.index')%}
						 	<a href="{{link}}" class="btn" style="width: 100%;height: 40px;background-color: #eee"> Back </a>	
						</div>
					</div>

				</form>

			</div>

		</div>

	</div>
{% endblock %}


