





body {
		  margin: 0;
		  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		  font-size: 1rem;
		  font-weight: 400;
		  line-height: 1.5;
		  color: #212529;
		  text-align: left;
		  background-color: #fff;

	}

.container {
		  width: 100%;
		  padding-right: 15px;
		  padding-left: 15px;
		  margin-right: auto;
		  margin-left: auto;
		}

.text-right {
		 text-align: right;
	}

h1{
		 margin-top: 6%;
}

h5{
		 margin-top: 0;
  		 margin-bottom: 0.5rem;
  		 font-size: large;
  		 font-weight: 600;
}

#Right_name{
	margin-top: 0px;
}

.summary td {
		 text-align: right;
}

/*.page{
    	 margin-left: 20%;
   	 	 margin-right: 20%;
    	 padding-left: 4%;
    	 padding-right: 4%
}*/

img{
	 	 margin-left: 67%;
	 	 position: relative;
     	 top: 2px;
     	 height: 150px;
} 	

/*#Invoice_and_Image{
		 display: flex;
		 flex-direction: row;
		 position: relative;
}*/

#Address_and_Numbers{
		 display: flex;
		 flex-direction: row;
		 position: relative;
		 font-size: 16px;
}

#Number_taken_right{

	 	 padding-left: 285px;
	 	 float: right !important;
 }
	 
table{
 		 width: 100%;	
 		 border-collapse: collapse;
 		 display: table !important;
 		 margin-bottom: 1rem;
  		 background-color: transparent;
 }

#Invoice_and_Image table{
		 width: 100%;	
 		 border-collapse: collapse;
 		 display: table !important;
 		 margin-bottom: 1rem;
  		 background-color: transparent;
}

.table th,
.table td {
		 padding: 0.75rem;
		 vertical-align: top;
		 border-top: 1px solid #dee2e6;
}

.table thead th {
		 vertical-align: bottom;
		 border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
		 border-top: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
		 background-color: rgba(0, 0, 0, 0.01);
}

#Bottom_table_taken td {
		 padding-right: 30px;
    	 block-size: inherit;
    	 /*font-size: large;*/
}

#Top_table_taken{
		 /*font-size: large;*/
}

footer{
		 font-size: large;
    	 font-weight: 320;
}

#lower_table{
		 margin-left: 50%;		 
}